* {
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container > div {
	display: flex;
}

form,
img {
	width: 400px;
	height: 400px;
	border: 1px solid black;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

label {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

label span {
	margin-bottom: 10px;
	white-space: nowrap;
}

input {
	width: 100%;
}

@media (max-width: 800px) {
	.container > div {
		flex-direction: column-reverse;
	}

	form {
		justify-content: space-evenly;
	}

	label {
		flex-direction: row;
		align-items: center;
		margin-bottom: 30px;
	}

	label span {
		width: 25%;
		text-align: right;
		margin-right: 5px;
		margin-bottom: 0;
	}

	input {
		width: 90%;
	}
}

@media (max-width: 400px) {
	form,
	img {
		width: 100%;
		height: auto;
		border: none;
	}

	label {
		flex-direction: column;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}

	label span {
		text-align: center;
		margin-bottom: 20px;
	}
}
